NodeRed.txt
[{"id":"6086a774.acdf88","type":"websocket-listener","path":"/ws/sd14-hay-steamer/data","wholemsg":"false"},{"id":"21cdef6d.118b1","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"b827eba84426","applicationId":"","deviceType":"pjb-rpi","eventType":"","commandType":"","format":"json","name":"SD14-Hay-Steamer","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":114.40000915527344,"y":69.39999389648438,"z":"1e3d10be.2efbb7","wires":[["92effabe.32c118"]]},{"id":"92effabe.32c118","type":"switch","name":"Separate data from logs","property":"eventType","rules":[{"t":"eq","v":"data"},{"t":"else"}],"checkall":"true","outputs":2,"x":485.4000244140625,"y":69.39999389648438,"z":"1e3d10be.2efbb7","wires":[["8babd6b4.f1a9e"],["46432ebf.4af678"]]},{"id":"46432ebf.4af678","type":"debug","name":"","active":true,"console":"false","complete":"false","x":869.4000244140625,"y":121.39999389648438,"z":"1e3d10be.2efbb7","wires":[]},{"id":"8177d2ae.5b22d","type":"debug","name":"","active":false,"console":"false","complete":"payload","x":870.4000244140625,"y":168.40000915527344,"z":"1e3d10be.2efbb7","wires":[]},{"id":"d6546c2.dcff01","type":"http response","name":"","x":873.199951171875,"y":552.4000244140625,"z":"1e3d10be.2efbb7","wires":[]},{"id":"3c407af2.244d6e","type":"http in","name":"Web Monitor","url":"/sd14-hay-steamer/temp","method":"get","swaggerDoc":"","x":93.19999694824219,"y":552.4000244140625,"z":"1e3d10be.2efbb7","wires":[["4f811831.a689e"]]},{"id":"4f811831.a689e","type":"template","name":"Build Web Page","field":"payload","format":"html","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Nicky's Hot Stuff</title>\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n    <style>\n        body {text-align: center; font-size: 2em; font: arial;}\n        .led {\n            margin: 2px auto;\n            margin-top: 40px; \n            margin-bottom: 0px;\n            width: 40px;\n            height: 40px;\n            background-color: black;\n            border-radius: 50%;\n            box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;\n        }\n        .wrapper {\n            height: 100%;\n            display: table;\n            width: 100%;\n            text-align: center;\n        }\n        .header {\n    \t    display: table-row;\n      \t    height: 1px;\n            font-size: 40px;\n    \t}\n    \t.main {\n      \t    height: 100%;\n      \t    display: table;\n      \t    width: 100%;\n    \t}\n    \t.box {\n      \t    display: table-cell;\n    \t}\n    \t.sidebar {\n      \t    width: 25%;\n        }\n        .content {\n            width: 50%;\n        }\n    \t.footer {\n      \t    display: table-row;\n      \t    height:1px;\n    \t}\n        .gauge {\n            display: inline-block;\n        }\n    </style>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"wsDisconnect();\">\n        <div class=\"wrapper\">\n            <div class=\"header\">Nicky's Hot Stuff</div>\n            <div class=\"main\">\n                <div class=\"box sidebar\"><p style=\"text-decoration: underline;\">Status</p>\n                    <div class=\"led\" id=\"LED1\"></div>\n                    <p>Ready</p>\n                    <div class=\"led\" id=\"LED2\"></div>\n                    <p>Watching</p>\n                    <div class=\"led\" id=\"LED3\"></div>\n                    <p>Completed</p>\n                </div>\n                <div class=\"box content\"><br/>\n                    <div class=\"gauge\" id=\"g1\"></div>\n                </div>\n                <div class=\"box sidebar\"><p style=\"text-decoration: underline;\">Controls</p>\n                    <button type=\"button\" style=\"width: 100px; margin-top: 20px\" onclick='doit(\"state1\");'><p style=\"font-size:24px\">Reset</p></button><br/>\n                    <button type=\"button\" style=\"width: 100px; margin-top: 60px\" onclick='doit(\"state2\");'><p style=\"font-size:24px\">Watch</p></button><br/> \n                    <audio id=\"audiotag1\" src=\"http://www.pacdv.com/sounds/domestic_sound_effects/alarm_clock_1.wav\" preload=\"auto\"></audio>\n                </div>\n            </div>\n            <div class=\"footer\" id=\"status\"><p style=\"font-size:24px\"><p>Please wait for one of the lights to come on.</p></div>\n        </div>\n        <script type=\"text/javascript\" src=\"https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['gauge']}]}\"></script>\n        <script type=\"text/javascript\">\n            var g1data = google.visualization.arrayToDataTable([\n                ['Label', 'Value'],\n                ['℃', 0]\n            ]);\n            var m = new Array(\"0\", \"20\", \"40\", \"60\", \"80\", \"100\");\n            var options = {\n                width: 600, height: 400,\n                greenFrom: 90, greenTo: 100,\n                yellowFrom:20, yellowTo: 90,\n                redFrom:0, redTo:20,\n                minorTicks: 5,\n                majorTicks: m\n            };\n            var chart = new google.visualization.Gauge(document.getElementById('g1'));\n            var state = 0;\n            var states = new Array(\"Ready\", \"Watching\", \"Completed\");\n            var LED1state = new Array(\"red\", \"black\", \"black\");\n            var LED2state = new Array(\"black\", \"yellow\", \"black\");\n            var LED3state = new Array(\"black\", \"black\", \"hsl(120, 100%, 75%)\");\n            var ws;\n            var wsUri = \"ws:\";\n            var loc = window.location;\n            console.log(loc);\n            chart.draw(g1data, options);\n            if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n            // This needs to point to the web socket in the Node-RED flow\n            wsUri += \"//\" + loc.host + loc.pathname.replace(\"sd14-hay-steamer/temp\",\"ws/sd14-hay-steamer/data\");\n\n            function wsConnect() {\n                console.log(\"connect\",wsUri);\n                ws = new WebSocket(wsUri);\n                ws.onmessage = function(msg) {\n                    var line = \"\"; \n                    var s = 0;\n                    // parse the incoming message as a JSON object\n                    var data = JSON.parse(msg.data);\n                    console.log(data);\n//                    g1.refresh(parseInt(data.temp))\n                    g1data = google.visualization.arrayToDataTable([\n                        ['Label', 'Value'],\n                        ['℃', Math.round(data.temp)]\n                    ]);\n                    chart.draw(g1data, options);\n                    state = parseInt(data.state);\n                    s = state - 1;\n                    line = data.date + \" \" + states[s];\n                    document.getElementById('status').innerHTML = '<p>' + line + '</p>';\n                    document.getElementById('LED1').style.backgroundColor = LED1state[s];\n                    document.getElementById('LED2').style.backgroundColor = LED2state[s];\n                    document.getElementById('LED3').style.backgroundColor = LED3state[s];\n                    if (state == 3) {       // meaning it is Completed\n                        document.getElementById(\"audiotag1\").play();\n                    }\n                }\n                ws.onopen = function() {\n                    // update the status div with the connection status\n                    if (state == 0) {\n                        document.getElementById('status').innerHTML = '<p>Please wait for one of the lights to come on.</p>'\n                    } else {\n                        document.getElementById('status').innerHTML = '<p>connected</p>';\n                    }\n                    //ws.send(\"Open for data\");\n                    console.log(\"connected onopen\");\n                }\n                ws.onclose = function() {\n                    // update the status div with the connection status\n                    document.getElementById('status').innerHTML = '<p>not connected</p>';\n                    // in case of lost connection tries to reconnect every 3 secs\n                    setTimeout(wsConnect,3000);\n                }\n            }\n            \n            function wsDisconnect() {\n                console.log(\"disconnect\",wsUri)\n                ws.close();\n            }\n    \n            function doit(m) {\n                if (ws) { ws.send(m); \n               // update the buttonmsg div with an informative message\n                document.getElementById('status').innerHTML = '<p>Sending message ' + m + '</p>';\n                }\n            }\n        </script>\n    </body>\n</html>\n","x":709.4000244140625,"y":552.4000244140625,"z":"1e3d10be.2efbb7","wires":[["d6546c2.dcff01"]]},{"id":"14547921.ffa5b7","type":"inject","name":"Reboot","topic":"","payload":"reboot","payloadType":"string","repeat":"","crontab":"","once":false,"x":310.4000244140625,"y":479.4000244140625,"z":"1e3d10be.2efbb7","wires":[["40665814.162b88"]]},{"id":"fc37be73.a29738","type":"inject","name":"Shutdown","topic":"","payload":"shutdown","payloadType":"string","repeat":"","crontab":"","once":false,"x":303.4000244140625,"y":513.4000244140625,"z":"1e3d10be.2efbb7","wires":[["40665814.162b88"]]},{"id":"40665814.162b88","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"reboot"},{"t":"eq","v":"shutdown"},{"t":"eq","v":"state1"},{"t":"eq","v":"state2"},{"t":"eq","v":"state3"},{"t":"eq","v":"state10"},{"t":"else"}],"checkall":"true","outputs":7,"x":482.4000244140625,"y":315.40000915527344,"z":"1e3d10be.2efbb7","wires":[["bbbedda2.d44ae"],["9507fc12.9c2c3"],["17c7204a.8f5d7"],["b640a960.92bbb"],["5cb397e3.36254"],["e1cf7665.5c4d7"],["2605e1cd.958976"]]},{"id":"feef08c8.ad2cd","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eba84426","deviceType":"pjb-rpi","eventCommandType":"dkE20s*r19s!u","format":"json","data":"'will be replaced'","name":"Reboot command via IOTF","service":"registered","x":913.4000244140625,"y":212.4000244140625,"z":"1e3d10be.2efbb7","wires":[]},{"id":"8c820f9b.290f98","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eba84426","deviceType":"pjb-rpi","eventCommandType":"gsYi21lu-!e8","format":"json","data":"'will be replaced'","name":"Shutdown command via IOTF","service":"registered","x":921.4000244140625,"y":246.4000244140625,"z":"1e3d10be.2efbb7","wires":[]},{"id":"bbbedda2.d44ae","type":"template","name":"Reboot","field":"payload","format":"handlebars","template":"{\"message\":\"Hello World\"}","x":666.4000244140625,"y":212.40003967285156,"z":"1e3d10be.2efbb7","wires":[["feef08c8.ad2cd"]]},{"id":"2e149f04.d51b08","type":"debug","name":"","active":true,"console":"false","complete":"false","x":877.4000244140625,"y":416.4000244140625,"z":"1e3d10be.2efbb7","wires":[]},{"id":"2605e1cd.958976","type":"template","name":"Unsupported","field":"payload","format":"handlebars","template":"Unsupported command: {{payload}} !","x":688.4000244140625,"y":417.40008544921875,"z":"1e3d10be.2efbb7","wires":[["2e149f04.d51b08"]]},{"id":"9507fc12.9c2c3","type":"template","name":"Shutdown","field":"payload","format":"handlebars","template":"{\"message\":\"Hello World\"}","x":675.4000244140625,"y":246.40003967285156,"z":"1e3d10be.2efbb7","wires":[["8c820f9b.290f98"]]},{"id":"56998e55.f72b8","type":"inject","name":"Reset","topic":"","payload":"state1","payloadType":"string","repeat":"","crontab":"","once":false,"x":101.40000915527344,"y":298.4000244140625,"z":"1e3d10be.2efbb7","wires":[["40665814.162b88"]]},{"id":"17c7204a.8f5d7","type":"template","name":"Reset","field":"payload","format":"handlebars","template":"{\"state\":1}","x":666.4000244140625,"y":281.40003967285156,"z":"1e3d10be.2efbb7","wires":[["3c5dbb7b.1e1614"]]},{"id":"b640a960.92bbb","type":"template","name":"Watch","field":"payload","format":"handlebars","template":"{\"state\":2}","x":668.4000244140625,"y":315.40003967285156,"z":"1e3d10be.2efbb7","wires":[["3c5dbb7b.1e1614"]]},{"id":"5cb397e3.36254","type":"template","name":"Complete","field":"payload","format":"handlebars","template":"{\"state\":3}","x":678.4000244140625,"y":349.4000244140625,"z":"1e3d10be.2efbb7","wires":[["3c5dbb7b.1e1614"]]},{"id":"3c5dbb7b.1e1614","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eba84426","deviceType":"pjb-rpi","eventCommandType":"setState","format":"json","data":"'will be replaced'","name":"setState command via IOTF","service":"registered","x":918.4000244140625,"y":314.4000244140625,"z":"1e3d10be.2efbb7","wires":[]},{"id":"c5ef41d9.1f1fe","type":"inject","name":"Watch","topic":"","payload":"state2","payloadType":"string","repeat":"","crontab":"","once":false,"x":100.40000915527344,"y":346.4000244140625,"z":"1e3d10be.2efbb7","wires":[["40665814.162b88"]]},{"id":"40c2211b.46bbe8","type":"inject","name":"Complete","topic":"","payload":"state3","payloadType":"string","repeat":"","crontab":"","once":false,"x":103.40000915527344,"y":396.4000244140625,"z":"1e3d10be.2efbb7","wires":[["40665814.162b88"]]},{"id":"174537e0.77c58","type":"websocket in","name":"","server":"6086a774.acdf88","client":"","x":152.40000915527344,"y":170.3999786376953,"z":"1e3d10be.2efbb7","wires":[["40665814.162b88","8177d2ae.5b22d"]]},{"id":"8babd6b4.f1a9e","type":"websocket out","name":"","server":"6086a774.acdf88","client":"","x":926.4000244140625,"y":67.39999389648438,"z":"1e3d10be.2efbb7","wires":[]},{"id":"887d8bdd.201ae","type":"inject","name":"StopProgram","topic":"","payload":"state10","payloadType":"string","repeat":"","crontab":"","once":false,"x":295.4000244140625,"y":444.4000244140625,"z":"1e3d10be.2efbb7","wires":[["40665814.162b88"]]},{"id":"e1cf7665.5c4d7","type":"template","name":"StopProgram","field":"payload","format":"handlebars","template":"{\"state\":10}","x":689.4000244140625,"y":383.4000244140625,"z":"1e3d10be.2efbb7","wires":[["3c5dbb7b.1e1614"]]},{"id":"f091dafa.8d5d3","type":"comment","name":"User Controls","info":"","x":94.19999694824219,"y":253.20001220703125,"z":"1e3d10be.2efbb7","wires":[]},{"id":"fce3c5ca.efd2f","type":"comment","name":"Admin Controls","info":"","x":290.20001220703125,"y":406.20001220703125,"z":"1e3d10be.2efbb7","wires":[]}]